@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
  --primary-50: #e6f2f1;
  --primary-100: #b0d7d2;
  --primary-200: #8ac4bc;
  --primary-300: #54a99e;
  --primary-400: #33998b;
  --primary-500: #007f6e;
  --primary-600: #007464;
  --primary-700: #005a4e;
  --primary-800: #00463d;
  --primary-900: #00352e;
  --error: #d31b2a;
  --success: #5da318;
  --info: #0079d6;
  --warning: #f48d0e;
  --main-text: #212121;
  --secondary-text: #616161;
  --caption: #9e9e9e;
  --soft-border: #e0e0e0;
  --soft-bg: #d4d4d4;
  --bg: #fafafa;
}

.wheel-fix {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

html, body {
  font-family: 'Poppins';
  overflow-x: hidden;
}

button, a {
  font-family: 'Montserrat', 'Poppins';
}